{% extends 'apps-tabs.html' %}
{% load static from staticfiles %}
{% block tab_content %}
	<div class="row-fluid" id="tab-content">
		<div class="span7">
			<section id="welcome-message">
				<h2>Welcome to your great.gov.uk profile</h2>
				<p>From now on, every time you sign in you’ll be able to quickly access all of our exporting tools in one place. The tools are here to help your business succeed internationally.</p>
				<p class="information-breakout">You can start using any of our exporting tools by clicking on the tabs on your profile.</p>
				<h3>Export opportunities</h3>
				<p>Find thousands of exporting opportunities, search and apply within your industry or a specific country, and sign up for email alerts so you’re the first to know of new opportunities.</p>
				<h3>Find a buyer</h3>
				<p>Promote your business to overseas buyers with your own trade profile, add case studies of your company’s best work, and let buyers contact your sales team directly.</p>
				<h3>Selling online overseas</h3>
				<p>Join major online marketplaces in other countries and access special offers negotiated by the Department for International Trade.</p>
		</section>
		</div>
	</div>
{% endblock tab_content %}
