{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row-fluid">
            <div class="span8 sso-profile-toolbar-labels-container">
                <h1 class="h1">Profile</h1>
                <div>You are signed in as {{ sso_user.email }}.</div>
            </div>
            <div class="span4 sso-profile-toolbar-buttons-container">
                <a class="button button-border" href="{{ sso_logout_url }}">Sign out</a>
                <a href="{{ sso_password_reset_url }}" class="link">Reset password</a>
            </div>
        </div>
    </div>
    <div class="sso-profile-tab-container">
        <div class="container">
            <div class="row-fluid">
                <ul>
                    <li class="{{ exops_tab_classes }}"><a href="{% url 'export-opportunities-applications' %}">Export opportunities</a></li>
                    <li class="{{ fab_tab_classes }}"><a href="{% url 'find-a-buyer' %}">Find a buyer</a></li>
                    <li class="{{ soo_tab_classes }}"><a href="{% url 'selling-online-overseas' %}">Selling online overseas</a></li>
                    <li class="{{ about_tab_classes }}"><a href="{% url 'about' %}">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        {% block tab_content %}
        {% endblock tab_content %}
    </div>
{% endblock content %}