{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="grid-row">
            <div class="column-two-thirds sso-profile-toolbar-labels-container">
                <h1 class="heading-xlarge margin-top-30 margin-bottom-15" id="tabs-title">Account</h1>
                {% if sso_is_logged_in %}
                    <div>You are signed in as {{ sso_user.email }}.</div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="sso-profile-tab-container">
        <div class="container">
            <div class="grid-row">
                <ul>
                    <li class="{{ exops_tab_classes }}"><a href="{% url 'export-opportunities-applications' %}">Export opportunities</a></li>
                    <li class="{{ fab_tab_classes }}"><a href="{% url 'find-a-buyer' %}">Business profile</a></li>
                    <li class="{{ soo_tab_classes }}"><a href="{% url 'selling-online-overseas' %}">Selling online overseas</a></li>
                    <li class="{{ about_tab_classes }}"><a href="{% url 'about' %}">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        {% block tab_content %}
        {% endblock tab_content %}
    </div>
{% endblock content %}
