{% extends 'base.html' %}

{% block content %}
	<div class="container" id="sso-profile-landing-page-container">
		<div class="row-fluid">
			<div class="span6 offset3">
				<h1>Welcome to your great.gov.uk profile</h1>
				<p>From now on, every time you sign in you’ll be able to quickly access all of our exporting tools in one place. Our tools are here to help your business succeed internationally:</p>
				<p>Export opportunities - find 1000s of exporting opportunities, search and apply within your industry or a specific country, and sign up for email alerts so you’re the first to know of new opportunities.</p>
				<p>Find a buyer - promote your business to overseas buyers with your own trade profile, add case studies of your company’s best work, and let buyers contact your sales team directly.</p>
				<p>Selling online overseas - join major online marketplaces in other countries and access special offers negotiated by the Department for International Trade.</p>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6 offset3">
				Get started by clicking on any of the tools below and start using your new profile:
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6 offset3 sso-profile-tab-container">
				<div class="container">
					<div class="row-fluid">
						<ul>
							<li class="active"><a href="{% url 'export-opportunities-applications' %}">Export opportunities</a></li>
							<li><a href="{% url 'find-a-buyer' %}">Find a buyer</a></li>
							<li><a href="{% url 'selling-online-overseas' %}">Selling online overseas</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
