{% extends 'core/wizard.html' %}

{% load render_form from directory_components %}
{% load static from staticfiles %}

{% block head_css %}
    {{ block.super }}
    <link href="{% static 'css/company-profile.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block form_contents %}
	{% include 'fab/breadcrumbs.html' with label='Business showcase' %}
    <h1 class="heading-large">Image and testimonials</h1>
    {{ block.super }}
{% endblock %}

{% block below_submit_button %}
    <button name="wizard_goto_step" class="previous-step link" type="submit" value="{{ wizard.steps.prev }}">Back</button>
{% endblock %}
