{% extends 'fab/base-form.html' %}

{% block form_contents %}
    {% include 'fab/breadcrumbs.html' with label='Add expertise' %}
    <div id="selected-expertise-container">
        {% if company.expertise_industries %}
            <div>
                <h2 class="heading-small">Industry expertise</h2>
                <p>{{ company.expertise_industries }}</p>
                <p><a href="{% url 'find-a-buyer-expertise-industries' %}">Edit</a></p>
            </div>
        {% endif %}
        {% if company.expertise_regions %}
            <div>
                <h2 class="heading-small">Regional expertise</h2>
                <p>{{ company.expertise_regions }}</p>
                <p><a href="{% url 'find-a-buyer-expertise-regional' %}">Edit</a></p>
            </div>
        {% endif %}
        {% if company.expertise_countries %}
            <div>
                <h2 class="heading-small">International expertise</h2>
                <p>{{ company.expertise_countries }}</p>
                <p><a href="{% url 'find-a-buyer-expertise-countries' %}">Edit</a></p>
            </div>
        {% endif %}
        {% if company.expertise_languages %}
            <div>
                <h2 class="heading-small">Language expertise</h2>
                <p>{{ company.expertise_languages }}</p>
                <p><a href="{% url 'find-a-buyer-expertise-languages' %}">Edit</a></p>
            </div>
        {% endif %}
    </div>
    <h1 class="heading-large">Add expertise</h1>
    <div id="business-details-form">
        {{ block.super }}
    </div>
{% endblock %}

{% block form_button %}
    <button class="button">Continue</button>
{% endblock %}
