{% extends 'fab/base.html' %}
{% block tab_content_main %}
	<div class="row-fluid sso-profile-fab-container">
		<div class="span3 sso-profile-fab-logo-container hidden-phone">
			<a href="{{ FAB_EDIT_COMPANY_LOGO_URL }}"><img src="{{company.logo}}" width="200" class="sso-profile-fab-logo" /></a>
			<a href="{{ FAB_EDIT_COMPANY_LOGO_URL }}" class="sso-profile-fab-logo-edit-button">
				<span class="icon-white icon-pencil"></span>
				<span>Edit</span>
			</a>
		</div>
		<div class="span9">
			<div>
				<h1 class="sso-profile-fab-company-name">{{ company.name }}</h1>
			</div>
			<div class="sso-profile-external-links">
				<a href="{{ FAB_EDIT_PROFILE_URL }}">Edit profile</a>
				<span class="sso-profile-external-links-seperator">|</span>
				<a href="{{ FAB_ADD_CASE_STUDY_URL }}">Add case study</a>
			</div>
		</div>
		<div class="span3 sso-profile-fab-logo-container visible-phone">
			<a href="{{ FAB_EDIT_COMPANY_LOGO_URL }}"><img src="{{company.logo}}" width="200" class="sso-profile-fab-logo" /></a>
			<a href="{{ FAB_EDIT_COMPANY_LOGO_URL }}" class="sso-profile-fab-logo-edit-button">
				<span class="icon-white icon-pencil"></span>
				<span>Edit</span>
			</a>
		</div>
	</div>
{% endblock tab_content_main %}