{% extends 'fab/base.html' %}
{% block tab_content_main %}
	<div class="row-fluid" id="tab-content">
		<div class="span3">
		</div>
		<div class="span9">
			<section id="profile-required">
				<h2>Get a trade profile</h2>
				<p>Get a trade profile for your company and you can:</p>
				<ul>
					<li>generate new sales leads</li>
					<li>promote your business to 1000s of overseas buyers</li>
					<li>add case studies of your best work to make your company stand out</li>
					<li>have buyers contact your sales team directly to get deals moving</li>
				</ul>
				<a class="button button-primary" href="#">Create a trade profile</a>
			</section>
		</div>
	</div>
{% endblock tab_content_main %}