{% extends 'apps-tabs.html' %}

{% load static from staticfiles %}

{% block head_css %}
    {{ block.super }}
    <link href="{% static 'css/company-profile.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block tab_content %}

    {% if is_profile_owner %}
    <div id="user-mode-container">
        <div class="grid-row" >
            <div class="column-one-half">
                <a href="#">Admin tools</a>
            </div>
            <div class="column-one-half right-column">
                <a class="background-light-blue font-xsmall pill" href="#">Admin view</a>
                <span class="divider">|</span>
                <a href="#">View profile</a>
            </div>
        </div>
        <hr>
    </div>
    {% endif %}
    {% if not company.email_address %}
    <div id="alerts-top" class="grid-row alerts-container">
        {% if not company.email_address %}
            <div class="column-two-thirds flag-red-text">
                <h2 class="heading-medium">Your business profile has no contact email</h2>
                <p>This lets international buyers contact you on business profile</p>
            </div>
            <div class="column-one-third alerts-button-container">
                <a class="button button-ghost-white">Set your email address</a>
            </div>
        {% endif %}
    </div>
    {% endif %}
    <div id="main-content" class="grid-row">
        <div class="column-one-third" id="data-column">

            <div id="logo-container">
                {% if not company.logo %}
                    <a id="add-image" href="#" class="link">Add a logo</a>
                {% else %}
                    <img alt="" src="{{ company.logo }}" />
                {% endif %}
            </div>

            <div>
                <h3 class="heading-medium">About company</h3>
                <dl>
                    {% if company.website %}
                        <dt>Website</dt>
                        <dd>{{ company.website }}</dd>
                    {% endif %}
                    <dt>Business type</dt>
                    <dd>UK private or public limited company</dd>
                    <dt>Number of employees</dt>
                    <dd>{{ company.employees }} employees</dd>
                    <dt>Core industry</dt>
                    <dd>{{ company.sectors.0|title }}</dd>
                    <dt>UK address</dt>
                    <dd>{{ company.address_line_1 }}, {{ company.address_line_2 }}</dd>
                </dl>

                {% if not company.website %}
                    <a href="#" class="link">Add website</a>
                {% endif %}
                <hr>
                <h3 class="heading-medium">Online profiles</h3>
                <ul>
                    <li>
                        <img alt="with Facebook" height="36px" src="{% static 'directory_components/icons/twitter.svg' %}" width="36px" />
                        {% if company.facebook_url %}
                            <a class="link" href="{{ company.facebook_url }}">{{ company.facebook_url }}</a>
                        {% else %}
                            <a class="link" href="{% url 'find-a-buyer-social-links' %}">Add Facebook</a>
                        {% endif %}
                    </li>
                    <li>
                        <img alt="with Twitter" height="36px" src="{% static 'directory_components/icons/facebook.svg' %}" width="36px" />                            
                        {% if company.twitter_url %}
                            <a class="link" href="{{ company.twitter_url }}">{{ company.twitter_url }}</a>
                        {% else %}
                            <a class="link" href="{% url 'find-a-buyer-social-links' %}">Add Twitter</a>
                        {% endif %}
                    </li>
                    <li>
                        <img alt="with LinkedIn" height="36px" src="{% static 'directory_components/icons/linkedin.svg' %}" width="36px" />                            
                        {% if company.linkedin_url %}
                            <a class="link" href="{{ company.linkedin_url }}">{{ company.linkedin_url }}</a>
                        {% else %}
                            <a class="link" href="{% url 'find-a-buyer-social-links' %}">Add Linkedin</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <div class="column-two-thirds">
            <h2 class="heading-large">{{ company.name }}</h2>

            <div class="{% if not company.email_address %}primary-action-required{% endif %} message-box border-medium border-black background-white">
              <div class="grid-row">
                <h3 class="box-heading heading-medium black-text column-one-half">Profile email</h3>
                <div class="column-one-half right-column">
                    {% if company.email_address %}<a href="{% url 'find-a-buyer-email' %}" class="link pencil-link">Edit</a>{% endif %}
                </div>
              </div>
              <p class="mid-grey-text font-xsmall">This will be the email address international buyers will contact you from the business profile.</p>
              {% if company.email_address %}
                <span>{{ company.email_address }}</span>
              {% else %}
                <a href="{% url 'find-a-buyer-email' %}" class="link">Add email address</a>
              {% endif %}
            </div>

            <div class="{% if not company.description %}primary-action-required{% endif %} message-box border-medium border-black background-white">
              <div class="grid-row">
                <h3 class="box-heading heading-medium black-text column-one-half">Company description</h3>
                <div class="column-one-half right-column">
                    {% if company.description %}<a href="{% url 'find-a-buyer-description' %}" class="link pencil-link">Edit</a>{% endif %}
                </div>
              </div>

              <p class="mid-grey-text font-xsmall">This will be the email address international buyers will contact you from the business profile.</p>
              {% if company.description %}
                <span>{{ company.description }}</span>
              {% else %}
                <a href="{% url 'find-a-buyer-description' %}" class="link">Add description</a>
              {% endif %}
            </div>

            <div class="message-box action-required border-medium border-black background-white">
              <div class="grid-row">
                <h3 class="box-heading heading-medium black-text column-one-half">Case studies</h3>
              </div>
              <div class="grid-row">
                  <p class="mid-grey-text font-xsmall">Describe something significant your company has done that will be relevant to international buyers.</p>
                  <ul id="case-studies">
                      {% for case_study in company.supplier_case_studies %}
                          <li>
                            <img src="{{ case_study.image_one }}" width="60" />
                            <span>{{ case_study.title }}</span>
                        </li>
                      {% endfor %}
                  </ul>
              </div>
              <a href="#" class="link add-case-study">Add a case study</a>
            </div>

        </div>
    </div>

    {% if not company.email_address %}
    <div id="alerts-bottom" class="grid-row alerts-container">
        {% if not company.email_address %}
        <div class="column-two-thirds flag-red-text">
            <h2 class="heading-medium">Your business profile has no contact email</h2>
            <p>This lets international buyers contact you on business profile</p>
        </div>
        <div class="column-one-third alerts-button-container">
            <a class="button button-ghost-white">Set your email address</a>
        </div>
        {% endif %}
    </div>
    {% endif %}

{% endblock %}

{% block feedback_reporter %}
    <section class="error-reporting">
        <div class="container">
            <a id="error-reporting-section-contact-us" href="{{ services_urls.feedback }}" target="_blank">Is there anything wrong with this page?</a>
        </div>
    </section>
{% endblock %}
