{% extends 'apps-tabs.html' %}

{% load static from staticfiles %}

{% block head_css %}
    {{ block.super }}
    <link href="{% static 'css/company-profile.css' %}" media="all" rel="stylesheet" />
{% endblock %}

{% block tab_content %}

    {% if features.ADMIN_PANEL_ON %}
        {% if is_profile_owner %}
        <div id="user-mode-container">
            <div class="grid-row" >
                <div class="column-one-half">
                    <a href="#">Admin tools</a>
                </div>
                <div class="column-one-half right-column">
                    <a class="background-light-blue font-xsmall pill" href="#">Admin view</a>
                    {% if not company.is_published %}
                        <span class="divider"></span>
                        <a href="{{ services_urls.fas }}/suppliers/{{ company.number }}/">View profile</a>
                    {% endif %}
                </div>
            </div>
            <hr>
        </div>
        {% endif %}
    {% endif %}

    {% if success_message %}
        <div class="sso-profile-success-message">{{ success_message }}</div>
    {% endif %}

    {% if not company.email_address or not company.description or not company.is_verified or not company.is_published %}
    <div id="alerts-top" class="grid-row alerts-container">
        {% if not company.email_address %}
            <div class="column-two-thirds flag-red-text">
                <h2 class="heading-medium">Add a business email address</h2>
                <p>Enter the email address you want overseas buyers to use.</p>
            </div>
            <div class="column-one-third alerts-button-container">
                <a class="button button-ghost-white" href="{% url 'find-a-buyer-email' %}">Add a business email address</a>
            </div>
        {% elif not company.description %}
            <div class="column-two-thirds flag-red-text">
                <h2 class="heading-medium">Add a business description</h2>
                <p>Enter a description of your business for overseas buyers to see.</p>
            </div>
            <div class="column-one-third alerts-button-container">
                <a class="button button-ghost-white" href="{% url 'find-a-buyer-description' %}">Add a business description</a>
            </div>
        {% elif not company.is_verified %}
            <div class="column-two-thirds flag-red-text">
                <h2 class="heading-medium">Confirm your identity</h2>
                <p>For security reasons, we need to check you're who you say you are.</p>
            </div>
            <div class="column-one-third alerts-button-container">
                <a class="button button-ghost-white" href="{{ services_urls.fab }}/verify/">Confirm your identity</a>
            </div>
        {% elif not company.is_published %}
            {% if company.is_uk_isd_company %}
                <div class="column-two-thirds flag-red-text">
                    <h2 class="heading-medium">Profile ready to publish</h2>
                    <p>Your profile is also ready to be published on the UK Investment Support Directory.</p>
                </div>
                <div class="column-one-third alerts-button-container">
                    <a class="button button-ghost-white" href="{% url 'find-a-buyer-publish' %}">Schedule publication</a>
                </div>
            {% else %}
                <div class="column-two-thirds flag-red-text">
                    <h2 class="heading-medium">Publish business profile</h2>
                    <p>You can now publish your business profile.</p>
                </div>
                <div class="column-one-third alerts-button-container">
                    <a class="button button-ghost-white" href="{% url 'find-a-buyer-publish' %}">Publish your business profile</a>
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% endif %}
    <div id="main-content" class="grid-row">
        <div class="column-one-third" id="data-column">

            <div id="logo-container">
                {% if not company.logo %}
                    <a id="add-image" href="{% url 'find-a-buyer-logo' %}" class="link">Add a logo</a>
                {% else %}
                    <img alt="{{ company.name }}" src="{{ company.logo }}" />
                    <a id="edit-image" href="{% url 'find-a-buyer-logo' %}" class="link pencil-link">Edit</a>
                {% endif %}
            </div>

            <div>
                <h3 class="heading-medium">About company</h3>
                <dl>
                    {% if company.website %}
                        <dt>Website</dt>
                        <dd>{{ company.website }}</dd>
                    {% endif %}
                    <dt>Business type</dt>
                    {% if company.company_type == 'COMPANIES_HOUSE' %}
                        <dd>UK private or public limited company</dd>
                    {% else %}
                        <dd>Sole trader</dd>
                    {% endif %}
                    {% if company.employees %}
                        <dt>Number of employees</dt>
                        <dd>{{ company.employees }} employees</dd>
                    {% endif %}
                    {% if company.sectors %}
                        <dt>Core industry</dt>
                        <dd>{{ company.sectors.0|title }}</dd>
                    {% endif %}
                    <dt>UK address</dt>
                    <dd>{{ company.address_line_1 }}, {{ company.address_line_2 }}</dd>
                </dl>

                {% if not company.website %}
                    <a href="#" class="link">Add website</a>
                {% endif %}
                <hr>
                <h3 class="heading-medium">Online profiles</h3>
                <ul>
                    <li>
                        <img alt="with Facebook" height="36px" src="{% static 'directory_components/icons/twitter.svg' %}" width="36px" />
                        {% if company.facebook_url %}
                            <a class="link" href="{{ company.facebook_url }}">{{ company.facebook_url }}</a>
                        {% else %}
                            <a class="link" href="{% url 'find-a-buyer-social' %}">Add Facebook</a>
                        {% endif %}
                    </li>
                    <li>
                        <img alt="with Twitter" height="36px" src="{% static 'directory_components/icons/facebook.svg' %}" width="36px" />                            
                        {% if company.twitter_url %}
                            <a class="link" href="{{ company.twitter_url }}">{{ company.twitter_url }}</a>
                        {% else %}
                            <a class="link" href="{% url 'find-a-buyer-social' %}">Add Twitter</a>
                        {% endif %}
                    </li>
                    <li>
                        <img alt="with LinkedIn" height="36px" src="{% static 'directory_components/icons/linkedin.svg' %}" width="36px" />                            
                        {% if company.linkedin_url %}
                            <a class="link" href="{{ company.linkedin_url }}">{{ company.linkedin_url }}</a>
                        {% else %}
                            <a class="link" href="{% url 'find-a-buyer-social' %}">Add Linkedin</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <div class="column-two-thirds">
            <h2 class="heading-large">{{ company.name }}</h2>

            <div class="{% if not company.email_address %}primary-action-required{% endif %} message-box border-medium border-black background-white">
              <div class="grid-row">
                <h3 class="box-heading heading-medium black-text column-one-half">Profile email</h3>
                <div class="column-one-half right-column">
                    {% if company.email_address %}<a href="{% url 'find-a-buyer-email' %}" class="link pencil-link">Edit</a>{% endif %}
                </div>
              </div>
              <p class="mid-grey-text font-xsmall">This will be the email address international buyers will contact you from the business profile.</p>
              {% if company.email_address %}
                <span>{{ company.email_address }}</span>
              {% else %}
                <a href="{% url 'find-a-buyer-email' %}" class="link">Add email address</a>
              {% endif %}
            </div>

            <div class="{% if not company.description %}primary-action-required{% endif %} message-box border-medium border-black background-white">
              <div class="grid-row">
                <h3 class="box-heading heading-medium black-text column-one-half">Company description</h3>
                <div class="column-one-half right-column">
                    {% if company.description %}<a href="{% url 'find-a-buyer-description' %}" class="link pencil-link">Edit</a>{% endif %}
                </div>
              </div>

              <p class="mid-grey-text font-xsmall">This will be the email address international buyers will contact you from the business profile.</p>
              {% if company.description %}
                <span>{{ company.description }}</span>
              {% else %}
                <a href="{% url 'find-a-buyer-description' %}" class="link">Add description</a>
              {% endif %}
            </div>

            <div class="message-box action-required border-medium border-black background-white">
              <div class="grid-row">
                <h3 class="box-heading heading-medium black-text column-one-half">Business showcase</h3>
              </div>
              <div class="grid-row">
                  <p class="mid-grey-text font-xsmall">Add images and success case studies to promote your products and services.</p>
                  <ul id="case-studies">
                      {% for case_study in company.supplier_case_studies %}
                          <li id="case-study-{{ case_study.pk }}">
                            <img src="{{ case_study.image_one }}" width="60" />
                            <span>{{ case_study.title }}</span>
                            <a id="edit-image-{{ case_study.pk }}" href="{% url 'find-a-buyer-case-study-edit' id=case_study.pk step='basic' %}" class="link pencil-link">Edit</a>
                        </li>
                      {% endfor %}
                  </ul>
              </div>
              <a id="add_case_study" href="{% url 'find-a-buyer-case-study' step='basic' %}" class="link">Add a case study</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block feedback_reporter %}
    <section class="error-reporting">
        <div class="container">
            <a id="error-reporting-section-contact-us" href="{{ services_urls.feedback }}" target="_blank">Is there anything wrong with this page?</a>
        </div>
    </section>
{% endblock %}
