django==1.11.20
django-environ==0.4.5
djangorestframework==3.4.7
gunicorn==19.5.0
raven==5.19.0
requests==2.21.0
whitenoise==3.1
sigauth==4.0.1
directory-validators==5.1.0
directory-healthcheck==1.0.1
directory-components==8.4.1
urllib3>=1.23.0<2.0.0
django-formtools==2.0
django-recaptcha==1.2.0
directory-ch-client==1.0.0
directory-sso-api-client==4.1.1
directory-forms-api-client==3.3.0
directory-api-client==12.2.0
django-redis==4.8.0
directory-client-core==4.4.0
django-storages==1.5.1
boto3==1.7.30
