{% extends 'apps-tabs.html' %}

{% load static from staticfiles %}
{% load parse_date from profile_tags %}
{% load success_box from directory_components %}
{% block head_title %}Business profile Member - Account - great.gov.uk{% endblock %}

{% block head_css %}
    {{ block.super }}
    <link href="{% static 'css/company-profile.css' %}" media="all" rel="stylesheet" />
{% endblock %}


{% block tab_content %}
	<div>
	{% for message in messages %}
		{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
			<div class="message-box-with-icon border-medium border-teal width-full background-white margin-top-30">
			  <div class="message-box-icon font-large white-text background-teal" aria-hidden="true">✓</div>
			  <div class="message-box-content padding-15-m">
				  <h3 class="box-heading heading-small teal-text margin-bottom-0">{{ message }}</h3>
			  </div>
			</div>
		{% endif %}
	{% endfor %}
	</div>

	<div class="margin-top-30 margin-bottom-30">
		<h1 class="heading-large">{{ company.name }} business profile already exists</h1>

		<p>
			A profile for this business was created on {{ company.created|parse_date:"%Y-%m-%dT%H:%M:%S.%fZ"|date:"M d, Y" }} at {{ company.created|parse_date:"%Y-%m-%dT%H:%M:%S.%fZ"|time:"g:i A" }}.
			It was last updated on {{ company.modified|parse_date:"%Y-%m-%dT%H:%M:%S.%fZ"|date:"M d, Y" }} at {{ company.modified|parse_date:"%Y-%m-%dT%H:%M:%S.%fZ"|time:"g:i A" }}.
		</p>
		<p>
			{% if is_profile_published %}
			You can now view your <a href="{{ FAB_BUSINESS_PROFILE_URL }}">business profile</a> and <a href="{{ export_opportunities_apply_url }}">find export opportunities</a>.
			{% else %}
			Your business profile has not been published yet, but you can now <a href="{{ export_opportunities_apply_url }}">find export opportunities</a> and apply on <a href="{% url 'selling-online-overseas' %}">Selling online overseas</a>.
			{% endif %}
		</p>

		<p>
			You should <a href="{{ contact_us_url }}">contact us</a> if you think this business should not already have a business profile.
		</p>

		<p>
			Selected the wrong company?  <a href="{{ contact_us_url }}">Contact us</a> to change the company.
		</p>
	</div>
{% endblock %}

{% block feedback_reporter %}
    <section class="error-reporting">
        <div class="container">
            <a id="error-reporting-section-contact-us" href="{{ services_urls.feedback }}" target="_blank">Is there anything wrong with this page?</a>
        </div>
    </section>
{% endblock %}
