
.button-primary {
  background-color: #e41f13;
  color: #ffffff;
  font-size: 24px;

  &:hover,
  &:focus,
  &:visited {
    color: #ffffff;
    background-color: #e41f13;
  }
}

.sso-profile-pill-button {
  border-radius: 8px;
  background-color: #dfd5c5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.72;
  color: #333333;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
