body {
  background-color: #ffffff;
}

#content {
  max-width: none;
}

nav ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  outline: none;
}


@media (min-width: 1020px) {
  .container  {
      margin: 0 auto;
  }
}

@media (min-width: 641px) {
  .container {
      margin: 0 30px;
  }
}

@media (min-width: 1020px) {
  .container {
      margin: 0 auto;
  }
}
