
.information-breakout {
  background-image: url(/static/images/EiG_Profile_welcome_pointed_hand_grey.png);
  background-position: 20px 20px;
  background-repeat: no-repeat;
  border: #979797 solid 1px;
  color: #4a4a4a;
  letter-spacing: -0.2px;
  min-height: 90px;
  padding: 20px 20px 20px 80px;
}

.sso-profile-tab-container {
  margin-top: 30px;
  background-color: #F0F3F2;
}

.sso-profile-tab-container ul {
  padding-left: 0;
}

.sso-profile-tab-container li.active {
  background-color: white;
  border-top: 5px solid #E41F13;
}

.sso-profile-tab-container li a {
  display: block;
  font-weight: bold;
  color: #363636;
  padding: 20px;
}

.sso-profile-toolbar-labels-container {
  margin-top: 10px;
}

.sso-profile-toolbar-buttons-container {
  margin-top: 30px;
  text-align: right;
}

.sso-profile-toolbar-buttons-container .button,
.sso-profile-toolbar-buttons-container .link {
  font-size: 16px;
  margin-left: 20px;
}
