{% extends 'exops/base.html' %}
{% block tab_content_main %}
	<div class="row-fluid" id="tab-content">
		<div class="span3">
		</div>
		<div class="span9">
			<section id="not-exops-user">
				<h2>Applications</h2>
				<p>Start applying for export opportunities. You can quickly and easily:</p>
				<ul>
					<li>find 1000s of exporting opportunities</li>
					<li>search for opportunities within your industry or in a specific country</li>
					<li>sign up for email alerts so you're the first to know of new opportunities</li>
					<li>apply for any export opportunity and track your applications</li>
				</ul>
				<a class="button button-primary" href="#">Find and apply</a>
			</section>
		</div>
	</div>
{% endblock tab_content_main %}