@import 'partials/base';
@import 'partials/general';
@import 'partials/buttons';
@import 'partials/errors';
@import 'partials/responsive';
@import 'partials/colours';

#alerts-top {
  margin-bottom: 15px;
  margin-top: 30px;
}

#content .alerts-container {
  h2 {
    margin: 0;
  }
  a,
  a:active,
  a:focus,
  a:hover,
  a:link:focus {
    color: #b00d23;
    border: 2px solid #b00d23;
  }
  .alerts-button-container {
    text-align: right;
  }
}


#alerts-bottom {
  clear: both;
  background-color: #F5F2EC;
  padding: 40px;
  p {
    margin: 0;
  }
}

#hero {
  position: relative;
}

.right-column {
  text-align: right;
}

#user-mode-container {
  margin-top: 25px;
  hr {
    margin: 0;
    background-color: #999;
    margin-top: 15px;
    height: 2px;
  }
  .pill {
    padding: 5px 10px;
    color: white;
    text-decoration: none;
  }
  .divider {
    content: '|';
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
    height: 36px;
    width: 2px;
    background-color: #999;
    vertical-align: middle;
  }
}

#logo-container {
  max-height: 250px;
  max-width: 250px;
  background-color: white;
  border: 1px solid #999;
  position: relative;
  img {
    width: 100%;
    vertical-align: middle;
  }
  display: table;
  #add-image {
    display: table-cell;
    vertical-align: middle;
    height: 250px;
    width: 250px;
  }
  #edit-image {
    position: absolute;
    right: 0;
    color: white;
    background: $active-blue;
    padding: 10px;
    &:before {
      content: '✏';
      transform: rotate(135deg);
      display: inline-block;
      margin-right: 10px;
    }
  }
}

#add-image {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #F5F2EC;
  text-align: center;
}

#data-column {
  margin-top: 45px;
  dt {
    font-weight: bold;
  }
  dd {
    margin-bottom: 1em;
  }
  & > div {
    width: 80%;
  }
  hr {
    background-color: #999;
  }
  li a {
    height: 36px;
    display: inline-block;
    vertical-align: bottom;
  }
}


#main-content {
  .pencil-link {
    display: inline-block;
    &:before {
      content: '✏';
      transform: rotate(135deg);
      display: inline-block;
      margin-right: 10px;
    }
  }
  .message-box {
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding: 20px;
    position: relative;
    border-width: 2px;
    h3 {
      margin-bottom: 0;
    }
  }

  .message-box.primary-action-required {    
    border-left-width: 30px;
    &:before {
      content: '!';
      color: white;
      position: absolute;
      left: -20px;
      font-weight: bold;
      font-size: 25px;
      top: 0;
      line-height: 5em;
    }
  }
  .message-box.action-required {    
    border-color: #999;
  }
}

#content .error-reporting {
  padding-bottom: 0;
}

#case-studies {
  li {
    display: table;
    margin-bottom: 10px;
    span {
      display: table-cell;
      vertical-align: middle;
      padding-left: 20px;
      font-weight: bold;
    }
    a {
      margin-left: 40px;
      vertical-align: super;
    }
  }
}

#content {
  form {
    margin-top: 45px;
    margin-bottom: 45px;
    .button {
      margin-top: 45px;
    }
  }
  input, textarea, select {
    width: 100%;
  }
}

.publish-box {
  padding-left: 20px;
  h2 {
    margin-bottom: 20px;
  }
  margin-bottom: 20px;
  clear: both;
}

#online-profiles {
  overflow: hidden;
  h3 {
    margin-top: 0;
  }
  li {
    a {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      img {
        margin-right: 16px;
      }
      span {
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

#company-name {
  a {
    font-size: 19px;
    font-weight: normal;
    vertical-align: bottom;
    line-height: 40px;
  }
}

#about-company-container {
  margin-top: 2em;
  h3 {
    margin-top: 0
  }
}

#business-details-form {
  #id_number-container,
  #id_sic-container,
  #id_date_of_creation-container,
  #id_address-container {
    padding-bottom: 10px;
    margin-bottom: 0;
    border-left: 5px solid $active-blue;
    padding-left: 15px;
    label {
      font-weight: bold;
    }
    input, textarea {
      background: transparent;
      border: 0;
      padding: 0;
    }
    textarea {
      overflow: hidden;
      resize: none;
    }
  }
  #id_address-container {
    margin-bottom: 20px;
  }
}

#associated-accounts-container {
  overflow: hidden;
}

.previous-step {
  margin-top: 30px;
  cursor: pointer;
  background-color: transparent;
  border-width: 0;
  font-size: 18px;
  display: block;
  margin-right: 20px;
}

#selected-values-container {
  padding: 30px;
  background-color: $stone-40;

  h2 {
    margin-top: 0;
    margin-bottom: 15px;
  }
  output {
    background-color: $stone;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 2px 15px;
    margin-right: 15px;
    display: inline-block;
    &:after {
      content: '❌';
      color: $mid-blue;
      margin-left: 15px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

#selected-expertise-container {
  h2 {
    margin-top: 0;
  }
  div {
    background-color: $stone-40;
    margin-bottom: 15px;
    padding: 15px;
  }
  p {
    margin: 0;
    a {
      margin-top: 15px;
      display: inline-block;
    }
  }
}

#profile-expertise-container {
  dt {
    font-weight: bold;
  }
  dd {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

#content form input.autocomplete__input {
  z-index: auto;
}

#content {
  .autocomplete__input {
    border: 2px solid #000000;
  }
  .autocomplete__option {
    height: 55px;
    padding-top: 15px;
    padding-left: 15px;
  }
}

.success-message-box {
  margin-top: 45px;
  position: relative;
  border-width: 3px;
  border-left-width: 80px;
  border-style: solid;
  &:before {
    content: '✔';
    color: white;
    position: absolute;
    left: -50px;
    font-weight: bold;
    font-size: 36px;
    top: 0;
    line-height: 2.5em;
  }
}
