@import 'partials/base';
@import 'partials/general';
@import 'partials/buttons';
@import 'partials/errors';
@import 'partials/responsive';

#alerts-top {
  margin-bottom: 15px;
  margin-top: 30px;
}

.alerts-container {
  h2 {
    margin: 0;
  }
  a {
    color: #b00d23;
    border: 2px solid #b00d23;
  }
  .alerts-button-container {
    text-align: right;
  }
}


#alerts-bottom {
  clear: both;
  background-color: #F5F2EC;
  padding: 40px;
  p {
    margin: 0;
  }
}

#hero {
  height: 300px;
  border: 1px solid #dedede;
  background-color: #F5F2EC;
  position: relative;
}

#logo-container {
  max-height: 250px;
  max-width: 250px;
  background-color: white;
  position: absolute;
  bottom: -3em;
  border: 1px solid #999;
  img {
    width: 100%;
    vertical-align: middle;
  }
  display: table;
  a {
    display: table-cell;
    vertical-align: middle;
    height: 250px;
    width: 250px;
  }
}

#add-image {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #F5F2EC;
  text-align: center;
}

#data-column {
  margin-top: 60px;
  dt {
    font-weight: bold;
  }
  dd {
    margin-bottom: 1em;
  }
  & > div {
    width: 80%;
  }
  hr {
    background-color: #999;
  }
  li a {
    height: 36px;
    display: inline-block;
    vertical-align: bottom;
  }
}

#main-content {
  padding-top: 10px;
  .message-box {
    padding: 20px;
    position: relative;
    border-width: 2px;
    a {
      display: inline-block;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    h3 {
      margin-bottom: 0;
    }
  }

  .message-box.primary-action-required {    
    border-left-width: 30px;
    &:before {
      content: '!';
      color: white;
      position: absolute;
      left: -20px;
      line-height: 5em;
      font-weight: bold;
      font-size: 25px;
    }
  }
  .message-box.action-required {    
    border-color: #999;
  }
}

#content .error-reporting {
  padding-bottom: 0;
}

#case-studies {
  li {
    display: table;
    span {
      display: table-cell;
      vertical-align: middle;
      padding-left: 20px;
      font-weight: bold;
    }
  }
}

#content {
  form {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .button {
    margin-top: 40px;
  }
  input {
    width: 100%;
  }
}
