@import 'partials/base';
@import 'partials/general';
@import 'partials/buttons';
@import 'partials/errors';
@import 'partials/responsive';
@import 'partials/progress';
@import 'partials/colours';


body.js-enabled {
  #id_search-company_number-container,
  #id_business-details-company_number-container,
  #id_search-address-container{
    display: none;
  }
}
body.js-enabled {
  #id_business-details-postal_code-container {
    display: none;
    margin-top: 20px;
  }
}

CompaniesHouseEnrolmentView

#id_business-details-company_number-container,
#id_business-details-sic-container,
#id_business-details-date_of_creation-container,
#id_business-details-address-container {
  padding-bottom: 10px;
  margin-bottom: 0;
  border-left: 5px solid #0858CD;
  padding-left: 15px;
  label {
    font-weight: bold;
  }
  input, textarea {
    background: transparent;
    border: 0;
    padding: 0;
  }
  textarea {
    overflow: hidden;
    resize: none;
  }
}

#id_business-details-address-container {
  margin-bottom: 20px;
}

#content {
    
    form {
        margin-top: 50px;
        input, select {
            width: 80%;
        }
        button {
            margin-top: 40px;
        }
    }

    .breadcrumbs {
        padding-top: 0;
    }

    #id_user-account-captcha-container {
        margin-bottom: 20px;
    }

    #user-account-verification-header-container {
        margin-bottom: 50px;
    }
    #id_verification-code-container {
        margin-bottom: 10px;
    }

    .grey-information-box {
        border: 2px solid #DFD5C3;
        background: #F5F2EC;
        padding: 20px;
        h2 {
            margin: 0;
        }
        p {
            margin-bottom: 5px;
        }
    }
}


.SelectiveLookupDisplay {
  background-color: #fff;
  border: #999 solid 1px;
  max-height: 221px;
  overflow: scroll;
  z-index: 2;
  padding-left: 0;
  font-size: 16px;
  margin-top: -1px;
  margin-left: 1px;
  font-family: "Roboto", arial, helvetica, sans-serif;
  overflow-x: hidden;
  li {
    cursor: pointer;
    border-top: #999 solid 1px;
    padding: 12px 24px;
    position: relative;
    top: -1px;
    &:focus {
      border-color: #ffbf47;
      border-style: solid;
      border-width: 4px 3px 3px 3px;
      box-shadow: none;
      outline: 0;
      padding: 8px 22px;
      -webkit-box-shadow: none;
    }
    &:hover,
    &:focus {
      background-color: #007ea3 !important;
      color: white;
    }
  }
  #company-lookup-name-not-in-companies-house {
    border-top: 2px solid #999;
    background: #dedede;
  }
}

#content {
  nav.breadcrumbs {
    padding-bottom: 0;
    padding-left: 15px;
  }
}

#progress-column {
  float: right;
  border-top: 5px solid $flag-red;
  padding-top: 30px;
  padding-left: 0;
  margin-top: 2.5em;
  a {
    margin: 0;
  }
}

#start-now-button {
  display: block;
  margin-top: 15px;
  width: 145px;
  &:active {
    background-color: $mid-blue;
  }
}

#start-page-progress-indicator {
  font-size: 1.5em;
}
