body {
  background-color: #ffffff;
}

.sso-profile-tab-container {
    margin-top: 30px;
    background-color: #F0F3F2;
}

.sso-profile-tab-container ul {
    padding-left: 0;
}

.sso-profile-tab-container li {
    display: inline-block;
    list-style-type: none;
}

.sso-profile-tab-container li.active {
    background-color: white;
    border-top: 5px solid #E41F13;
}

.sso-profile-tab-container li a {
  display: block;
  font-weight: bold;
  color: #363636;
  padding: 20px;
}

.sso-profile-toolbar-labels-container {
    margin-top: 10px;
}

.sso-profile-toolbar-buttons-container {
    margin-top: 30px;
    text-align: right;
}

.sso-profile-toolbar-buttons-container .button,
.sso-profile-toolbar-buttons-container .link {
  font-size: 16px;
  margin-left: 20px;
}

/* Shared tab content
 **********************/
#tab-content {
  padding-top: 40px;
}

#tab-content .span3:first-child {
  min-height: 1px; /* avoids area appearing to collapse */
  width: 220px;
}

#tab-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#tab-content li {
  list-style-type: disc;
  margin: 0 0 10px 20px;
  padding-left: 15px;
}

#tab-content section {
  margin-bottom: 156px;
}

#tab-content ul {
  margin-bottom: 30px;
}

/* FAB tab content
 **********************/
.sso-profile-fab-container {
    margin-top: 50px;
    margin-bottom: 100px;
}

.sso-profile-fab-logo-container {
    position: relative;
}

.sso-profile-fab-logo-edit-button {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00549f;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sso-profile-fab-logo-container img {
    max-width: 200px;
}

.sso-profile-fab-company-name {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.29;
    color: #4a4a4a;
}

.sso-profile-external-links {
    margin-top: 20px;
}

.sso-profile-external-links a {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.56;
    color: #00549f;
}

.sso-profile-fab-company-links-seperator {
    display: inline-block;
    font-size: 20px;
    color: #999999;
    margin-left: 13px;
    margin-right: 13px;
}

/* EiG tab content
 **********************/
.sso-profile-eig-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.29;
  color: #4a4a4a;
  margin-bottom: 40px;
}

#sso-profile-eig-container {
  margin-top: 50px;
}

#sso-profile-eig-buttons a,
#sso-profile-eig-buttons span {
  text-align: center;
  padding: 20px;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
  width: 100%;
}

.sso-profile-eig-button-active {
  border: 1px solid #979797;
  border-right: 0;
  height: 63px;
  background-color: white;
}

.sso-profile-eig-button-inactive {
  border: 1px solid #979797;
  height: 63px;
  background-color: rgba(220, 224, 223, 0.4);
}

#sso-profile-eig-button-applications {
  border-bottom: 0;
}

.sso-profile-eig-opportunity-item {
  border-bottom: solid 1px #999999;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.sso-profile-eig-opportunity-item:last-child {
  border-bottom-width: 0;
  padding-bottom: 0;
  margin-bottom: 50px;
}

.sso-profile-eig-opportunity-item-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.29;
  color: #00549f;
  margin-bottom: 17px;
}

.sso-profile-eig-opportunity-item-description {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.39;
  color: #4a4a4a;
}

.sso-profile-eig-opportunity-item-expires {
  font-size: 18px;
  line-height: 1.39;
  color: #4a4a4a;
  margin-bottom: 23px;
}

.sso-profile-eig-opportunity-item-application-link {
  font-size: 16px;
  line-height: 1.56;
  color: #00549f;
}

.sso-profile-eig-email-alert-item {
  border: solid 1px #999999;
  padding-bottom: 30px;
  margin-bottom: 30px;
  padding: 30px;
}

.sso-profile-eig-email-alert-item:last-child {
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.sso-profile-eig-email-alert-item-search-term-label {
  font-size: 16px;
  line-height: 1.56;
  color: #4a4a4a;
  margin-bottom: 20px;
}

.sso-profile-eig-email-alert-item-search-term {
  margin-bottom: 20px;
}

.service-error-container {
  padding: 20px;
}

#sso-profile-landing-page-container {
  margin-top: 40px;
  margin-bottom: 40px;
}

#sso-profile-landing-page-container h1 {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin-bottom: 40px;
  display: inline-block;
  line-height: 1em;
}

#sso-profile-landing-page-container p {
  margin-bottom: 20px;
}


/*********
  Utilities
 *********/

.sso-profile-external-links-seperator {
    display: inline-block;
    font-size: 20px;
    color: #999999;
    margin-left: 13px;
    margin-right: 13px;
}

.button-primary {
  background-color: #e41f13;
  color: #ffffff;
  font-size: 24px;
}

.sso-profile-pill-button {
  border-radius: 8px;
  background-color: #dfd5c5;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.72;
  color: #333333;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}


/* Mobile changes
 **********************/
@media (max-width: 767px) {

  /* mobile hidden elements */
  .soo-startpage-image {
    display: none;
  }

  /* mobile alternatives */
  .button-primary {
    font-size: 18px;
  }

  .h1 {
    font-size: 30px;
  }

  .sso-profile-tab-container li.active {
    background-color: transparent;
    border-bottom: 5px solid #E41F13;
    border-top: none;
  }

  .sso-profile-toolbar-buttons-container {
    text-align: left;
  }

  .sso-profile-toolbar-labels-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  #tab-content section {
    padding: 0 20px;
  }
}
