{% extends 'enrolment/wizard.html' %}

{% load static from static %}

{% block above_form %}
    <div class="grey-information-box">
        <h3 class="heading-medium">Your business type</h3>
        <p>A business registered with Companies House</p>
        <a href="{% url 'enrolment-business-type' %}" class="link">Change</a>
    </div>
    <br>
    <div class="grey-information-box">
        <h3 class="heading-medium">Your company details</h3>
        <p>{{ company.company_name }}</p>
        <p>{{ company.address }}</p>
        <a href="{% url 'enrolment-sole-trader' step='search' %}" class="link">Change</a>
    </div>

    <div id="form-step-body-text">
        <h1 class="heading-large">Enter personal details</h1>
    </div>
{% endblock %}

{% block below_form %}
    <p><a class="link" href="#">View the list of background checks here</a></p>
{% endblock %}
