{% extends 'enrolment/wizard.html' %}

{% load static from static %}

{% block above_form %}
    <div class="grey-information-box" id="business-type-information-box">
        <h2 class="heading-medium">Your business type</h2>
        <p id="business-type">A business registered with Companies House</p>
        <a href="{% url 'enrolment-business-type' %}" class="link" id="change-business-type">Change</a>
    </div>
    <div id="form-step-body-text" id="business-details-information-box">
        <h1 class="heading-large">Enter your business details</h1>
    </div>
{% endblock %}

{% block below_form %}
    <p><a class="link" href="{{ company_not_found_url }}" id="cannot-find-business-address">I cannot find my business name</a></p>
{% endblock %}

{% block body_js %}
    {{ block.super }}
    <script src="{% static 'directory_components/js/dit.components.company-lookup.js' %}"></script>
    <script type="text/javascript">
      var companyName = document.getElementById('id_search-company_name');
      var companyNumber = document.getElementById('id_search-company_number');
      $(document.body).on(
        "click.SelectiveLookupCloseAll",
        dit.components.lookup.SelectiveLookup.closeAll
      );
      new dit.components.lookup.CompaniesHouseNameLookup(
        $(companyName),
        $(companyNumber),
        '{% url "api:companies-house-search" %}',
        {showNoneOfThese: true}
      );
    </script>
{% endblock %}
