{% extends 'enrolment/base.html' %}

{% load static from staticfiles %}
{% load message_box from directory_components %}

{% block content %}
  <section class="container">
      {% include 'enrolment/breadcrumbs.html' %}
      <div class="grid-row">
          <div class="column-two-thirds">
              <div id="failure-message-container">
                  {% message_box heading="Unable to create company" description="Something went wrong." heading_level='h1' %}
              </div>
          </div>
      </div>
  </section>

  <section id="next-container">
    <div class="container">
      <h2 class="heading-medium">Next steps</h2>
      <a class="link" href="{{ services_urls.contact_us }}">Report error</a>
    </div>
  </section>

{% endblock %}
