{% extends 'enrolment/wizard.html' %}

{% load static from static %}

{% block above_form %}
    <div class="grey-information-box" id="business-type-information-box">
        <h2 class="heading-medium">Your business type</h2>
        {% if company.company_type == 'COMPANIES_HOUSE' %}
            <p id="business-type">A business registered with Companies House</p>
        {% else %}
            <p id="business-type">Sole trader</p>
        {% endif %}
        <a href="{{ services_urls.feedback }}" class="link" id="report-error-with-business-type">This is not my business type</a>
    </div>
    <br>
    <div class="grey-information-box" id="business-details-information-box">
        <h2 class="heading-medium">Your business details</h2>
        <p id="company-name">{{ company.name }}</p>
        <p id="company-address">{{ company.address_line_1 }}, {{ company.address_line_2 }}, {{ company.postal_code }}</p>
        <a href="{{ services_urls.feedback }}" class="link" id="report-error-with-business-details">These are not my business details</a>
    </div>

    <div id="form-step-body-text">
        <h1 class="heading-large">Enter your details</h1>
    </div>
{% endblock %}
