{% extends 'enrolment/wizard.html' %}

{% load static from static %}

{% block above_form %}
    <div class="grey-information-box" id="business-type-information-box">
        <h2 class="heading-medium">Your business type</h2>
        <p id="business-type">Sole trader</p>
        <a href="{% url 'enrolment-business-type' %}" class="link" id="change-business-type">Change</a>
    </div>
    <br>
    <div class="grey-information-box" id="business-details-information-box">
        <h2 class="heading-medium">Your business details</h2>
        <p id="company-name">{{ company.company_name }}</p>
        <p id="company-address">{{ company.address }}</p>
        <a href="{% url 'enrolment-sole-trader' step='search' %}" class="link" id="change-business-details">Change</a>
    </div>

    <div id="form-step-body-text">
        <h1 class="heading-large">Enter your details</h1>
    </div>
{% endblock %}

{% block below_form %}
    <p><a class="link" href="#" id="list-background-checks">View the list of background checks here</a></p>
{% endblock %}
