{% extends 'enrolment/base.html' %}


{% load static from staticfiles %}
{% load message_box from directory_components_tags %}

{% block content %}
  <section class="container">
      {% include 'enrolment/breadcrumbs.html' %}
      <div class="grid-row">
          <div class="column-two-thirds">
              <div id="success-message-container">
                  {% message_box heading="Account created" description="Your account has been created." heading_level='h1' %}
              </div>
          </div>
      </div>
  </section>

  <section id="next-container">
	{% include 'enrolment/success-next-steps.html' %}
  </section>

{% endblock %}
