{% extends 'enrolment/base.html' %}


{% load static from staticfiles %}
{% load message_box_with_icon breadcrumbs from directory_components %}

{% block content %}
  <section class="container">
      {% breadcrumbs 'Create a great.gov.uk account' %}
          <a href="{{ services_urls.exred }}">Home</a>
      {% endbreadcrumbs %}
      <div class="grid-row">
          <div class="column-two-thirds">
              <div id="success-message-container">
                  {% message_box_with_icon heading="Success" description="Your account has been created." heading_level='h2' heading_class='teal-text margin-bottom-0' %}
              </div>
          </div>
      </div>
  </section>

{% endblock %}
