{% extends 'enrolment/base.html' %}


{% load static from staticfiles %}
{% load message_box_with_icon breadcrumbs from directory_components %}

{% block content %}
    <section class="container">
      {% breadcrumbs 'Create a great.gov.uk account' %}
          <a href="{{ services_urls.great_domestic }}">Home</a>
      {% endbreadcrumbs %}
      <div class="grid-row">
          <div class="column-two-thirds">
              <div id="success-message-container">
                  {% message_box_with_icon heading="Success" description="Your account has been created." heading_level='h2' heading_class='teal-text margin-bottom-0' %}
              </div>
          </div>
      </div>
    </section>

    <div class="container">
      <h2 class="heading-medium margin-0">Next steps</h2>
        <p>You can now:</p>
        <ul class="list list-bullet">
          <li>Go back to <a href="{% url 'index' %}">Home</li>
          {% if not fab_referrer %}
              <li><a href="{{ services_urls.exopps }}">find export opportunities</a> from our list of current sales leads</li>
              <li><a href="{{ services_urls.soo }}">sell online overseas </a> by finding the right market for your goods</li>
              <li><a href="{{ services_urls.events }}">find events and visits </a> that can help promote your business</li>
          {% endif %}
        </ul>
    </div>

{% endblock %}
