{% extends 'enrolment/base.html' %}

{% load render_form from directory_components_tags %}

{% block content %}
    <section class="container">
        {% include 'enrolment/breadcrumbs.html' %}
        <div class="column-one-half">
            {% block breadcrumbs %}{% endblock %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% block above_form %}
                    <h1 class="heading-large">{% block step_title %}{% endblock %}</h1>
                {% endblock %}
                {{ wizard.management_form }}
                {% if wizard.form.forms %}
                    {{ wizard.form.management_form }}
                    {% for form in wizard.form.forms %}
                         {% render_form form %}
                    {% endfor %}
                {% else %}
                    {% render_form form %}
                {% endif %}
                {% block below_form %}{% endblock %}
                {% if wizard.steps.step1 != wizard.steps.count %}
                    <button type="submit" class="button">Save and continue</button>
                {% else %}
                    <button class="button next" type="submit">Save and continue</button>
                {% endif %}
                {% block below_submit_button %}{% endblock %}
            </form>
        </div>
        <div class="column-one-third" id="progress-column">
            <span>Part of:</span>
            <a class="link heading-medium" href="{% url 'enrolment-start' %}">Create a great.gov.uk account</a>
            {% include 'enrolment/progress.html' %}
        </div>
    </section>
{% endblock %}
